# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Env
.env
.env.*
!.env.example

# Node
node_modules/
.next/
out/

# PHP / Laravel
vendor/
bootstrap/cache/*
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

# Coverage / build
coverage/
dist/